/* ... tus estilos existentes ... */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
}

.saveCropButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.previewContainer {
  text-align: center;
  margin: 15px 0;
  background: #3a3a3a;
  padding: 10px;
  border-radius: 8px;
}

.previewImage {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* Muestra el resultado redondo */
  object-fit: cover;
  border: 3px solid #ffffff;
  display: block;
  margin: 10px auto;
}

.editButton {
  font-size: 1rem;
  color: #0061b1;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.cancelButton {
  background-color: #d42020;
  color: var(--btn-text);
}

.cancelButton:hover {
  background-color: var(--btn-cancel-hover);
  transform: scale(1.05);
}

.submitButton {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.submitButton:hover {
  background-color: var(--shadow-color);
  transform: scale(1.05);
}