.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between elements */
  background-color: #2a2a2a;

}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #ffff;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffff;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in width */
  font-size: 1rem;
}

.inputGroup textarea {
  resize: vertical;
  min-height: 80px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
  margin-top: 20px;
}

.cancelButton,
.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.cancelButton {
  background-color: #6c757d; /* Gray */
  color: white;
}

.submitButton {
  background-color: #ffd000ff; /* Yellow */
  color: #2a2a2a;
}

.submitButton:disabled {
  background-color: #a0cfff; /* Lighter blue when disabled */
  cursor: not-allowed;
}

.error {
  color: #D8000C; /* Error red */
  background-color: #FFD2D2; /* Light red background */
  border: 1px solid #D8000C;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}