
.hamburgerContainer {
  position: fixed; 
  top: 5px;
  right: 10px;
  z-index: 10000; 
  border: 2px solid #817d7d;
  border-radius: 200px;
}


.toggleButton {
  background: none;
  border: none;
  color: var(--accent-color); 
  font-size: 1.1rem; 
  cursor: pointer;
  z-index: 1002;
  position: relative;
  bottom: 3px;
}


.menu {
  position: absolute;
  top: 70px; 
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--accent-color);
  overflow: hidden; 
  
  /* Animación: oculto por defecto */
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

/* Estilo del menú cuando está abierto */
.menu.open {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.menu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-color: var(--bg-color);
}

.navLink {
  display: block;
  padding: 12px 25px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  white-space: nowrap; /* Evita que el texto se parta */
}

.navLink:hover {
  background-color: #f4f4f4;
}