/* ===== HEADER GENERAL ===== */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  background-color: var(--card-bg);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 0 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  
}

.header-left {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--accent-color);
}

.header-center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;

}

/* 🔹 Aseguramos que nada del header “ensucie” los botones */
.header-right {
  display: flex;
  align-items: center;
  gap: 5px;
}