/* === Contenedor principal === */
.activities-container {
  padding: 20px;
  color: var(--text-color);
  text-align: center;
  
}

/* === Títulos === */
.activities-title,
.activities-container h1 {
  margin: 0;
  font-size: 50px;
  color: var(--accent-color);
  text-align: start;
}

.activities-subtitle,
.activities-container h3 {
  margin: 5px 0 10px 0;
  text-align: start;
}

/* === Filtros === */
.activities-container input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 6px;
  width: 80%;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  box-sizing: border-box;
  transition: outline 0.3s ease;
}

.activities-container input[type="text"]:focus {
  outline: 2px solid var(--accent-color);
}

/* === Lista de actividades === */
.activities-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.activities-list-container li {
  margin-bottom: 15px;
}

.activities-list-container li span {
  color: var(--accent-color);
}

/* === Mensajes de estado === */
.activities-list-container p {
  font-weight: bold;
  color: var(--text-color);
}

/* === Responsividad === */
@media screen and (max-width: 400px) {
  .activities-container {
    padding: 15px;
  }

  .activities-container input[type="text"] {
    width: 95%;
    font-size: 14px;
  }
}
