.home-container {
  color: #fff;
  padding: 20px;
}

.home-title {
  margin: 0;
  color: #ffd000ff;
}

.home-subtitle {
  margin: 5px 0 10px 0;
}

.home-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.missions-section {
  margin-top: 20px;
}

.missions-title {
  margin: 0;
  color: #ffd000ff;
  text-align: center;
}

.mission-text {
  color: #ffd000ff;
}

.card-home {
  margin: 10px;
  display: flex;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 0 15px #ffd000ff;
}

.card-body {
  padding: 10px;
}

.progress {
  background-color: #444;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
}

.btn {
  margin-top: 20px;
  display: block;
}

.btn-solo {
  background-color: #444;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
}

.btn-emparejar {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
}

.btn-completar {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
}