/* === Estilos generales === */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Contenedor principal del Home (debajo del header fijo) */
.home-container {
  /* que quede igual que el profile */
  flex: 1;
  padding: 20px;
  padding-top: 80px;          /* 🔹 deja espacio para el header de 60px */
  color: var(--text-color);
  background-color: var(--bg-color);

  /* scroll solo interno y sin barra visible */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;      /* Firefox */
}

/* Ocultar scrollbar en WebKit */
.home-container::-webkit-scrollbar {
  display: none;
}

.home-title {
  margin: 0;
  font-size: 50px;
  color: var(--accent-color);
}

.home-subtitle {
  margin: 5px 0 10px 0;
  text-align: center;
  color: var(--text-color);
}

.home-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.activity-register {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--bg-color);
}

.home-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.missions-section {
  margin-top: 20px;
}

.missions-title {
  margin: 0;
  color: var(--accent-color);
  text-align: center;
}

.mission-text {
  color: var(--accent-color);
}

/* === Tarjetas === */
.card-home {
  margin: 10px;
  display: flex;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 0 15px var(--shadow-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
  padding: 10px;
}

/* === Barra de progreso === */
.progress {
  background-color: var(--btn-bg);
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
}

/* === Botones === */
.btn {
  margin-top: 20px;
  display: block;
  color: var(--btn-text);
}

.btn-solo,
.btn-emparejar,
.btn-completar {
  color: var(--btn-text);
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
}

.btn-solo {
  background-color: var(--btn-solo-bg);
}

.btn-emparejar {
  background-color: var(--btn-emparejar-bg);
}

.btn-recompensa {
  background-color: var(--btn-recompensa-bg);
}

.btn-registrar {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 10px 150px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
